PORT=4000
JWT_SECRET=your_jwt_secret_here
# DB configuration
# To use SQLite (default) leave DB_TYPE empty or set to 'sqlite'
# To use MSSQL set DB_TYPE=mssql and provide either MSSQL_CONNECTION_STRING or MSSQL_HOST/MSSQL_USER/MSSQL_PASSWORD/MSSQL_DATABASE
# Example connection string: "Server=localhost;Database=mydb;User Id=sa;Password=YourPassword123;"
DB_TYPE=mssql
MSSQL_CONNECTION_STRING=Host
MSSQL_HOST=localhost
MSSQL_PORT=1433
MSSQL_USER=sa
MSSQL_PASSWORD=YourPassword123
MSSQL_DATABASE=worldsim
